# Configurações do Servidor
PORT=3000

# Credenciais Padrão do Administrador
ADMIN_EMAIL=admin@dietadodoce.com.br
ADMIN_PASSWORD=admin123

# Credenciais Padrão da Aluna VIP
DEFAULT_ALUNO_EMAIL=aluno@dietadodoce.com.br
DEFAULT_ALUNO_PASSWORD=doce123

# Chave de Segurança para validação de Webhooks (ex: Kiwify ou Hotmart)
WEBHOOK_SECRET_TOKEN=insira_aqui_seu_token_seguro

# Conectividade com o Supabase (Cloud Database)
SUPABASE_URL=https://sua-ref-id.supabase.co
SUPABASE_KEY=sua-anon-key-ou-service-role-key
